@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
	background-color: #EEF0F2;
}

#title {
	height: 20vh;
	margin: 30px 0;
}

ul {
	text-align: center; 
	padding: 0;
	margin-bottom: 0;
}

li {
	display: inline;
	padding: 0 5vw;
}

a {
	color: #191970;
	font-size: large;
}

.active {
	text-decoration: underline;
	font-weight: bold;
}

#logo {
	height: 20vh;
}

#hero {
	width: 100%;
	height: 55vh;
	background: url("https://bit.ly/2E5eoBl");
	background-size: cover; 
	background-position-y: -100px;
	margin-top: 10vh;
}

h1 {
	text-align: center; 
	font-family: "Nunito", sans-serif;
	margin-top: 6vh;
	text-transform: uppercase;
}

span {
	color: #191970;
}

p {
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	margin-top: 4vh;
	width: 70%;
	text-align: center;
	line-height: 45px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  text-align: center;
  font-size: 60px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#end {
  background-color: #191970; 
  color: white;
  padding: 2%;
  margin: 5vh 0 0 0;
  list-style: none;
  text-align: left;
  /*-moz-column-count: 2;*/
  /*-moz-column-gap: 10px;*/
  /*-webkit-column-count: 2;*/
  /*-webkit-column-gap: 10px;*/
  /*column-count: 2;*/
  /*column-gap: 10px;*/
}

#end li {
  display: block;
  padding: 5px 0;
  width: 200px;
}

.contactEnd {
  color: gold;
}

#end a {
  text-decoration: inherit;
  color: inherit;
}

#end a:hover {
	color: rgb(150, 150, 150);
}

#created {
    padding: 0 50px 0 0;
    margin: -75px 0 0;
    text-align: right;
    color: white;
    width: 100%;
}

.col-md-4 {
	border: 1px solid black;
	padding: 0 10px;
	height: 30vh;
}

.container {
    padding: 8vh 0 0 0;
}

#what {
	background-image: url("images/colors.jpeg");
	background-size: cover;
}

#we {
	background-image: url("images/wall.jpeg");
	background-size: cover;
}

#do {
	background-image: url("images/dog.jpeg");
	background-size: cover;
}

.picText {
	text-align: center;
	line-height: 30vh;
	font-family: "Nunito", sans-serif;
    	font-size: 30px;
    	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    	color: antiquewhite;
	display: none;
}

#picName {
	padding: 0 0 20px 0;
}

.picTag {
	height: 5vh;
}

@media (max-height: 780px) {
	.picTag {
		height: 6vh;
	}

	.thePic {
		height: 40vh;
	}
}

@media (max-height: 600px) {
	.picTag {
		height: 8vh;
	}
}

.explain {
	letter-spacing: 2px;
	margin-top: 0;
	font-size: large;
	font-weight: bold;
}

#myShit {
	color: red;
}

/* Tablet sized screens */
/* Landscape tablet */
@media (max-width: 1340px) {
	#logo {
		height: 16vh;
	}
	#hero {
		margin-top: 0;
	}
}

/* Portrait tablet */
@media (max-width: 800px) {
	#title {
		height: 6vh;
	}
	#logo {
		height: 6vh;
	}
	.theLinks a {
		font-size: 14px;
	}
}

/* Menu and XS sized screens */

#smallTitle {
  display: none;
}

@media (max-width: 500px) {
  #title {
    display: none;
  }
  #smallTitle {
    display: block;
  }
  #logo {
    padding-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 16vh;
    margin-top: 20px;
  }
  #hero {
    background-position: -250px 
  }
  .thePic {
    padding: 0;
  }

  #created, #myShit {
    margin-top: -44px;
    padding-right: 5px;
    font-size: small;
  }
  #end li {
    font-size: small;
  }
  .container {
    width: 92%;
  }
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 14px;
  }
  .picText {
    display: block;
  }
  #picName {
    display: none; 
  }
  .col-md-4 {
    margin: 10px 0;
  }
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media (max-width: 950px) {
  .topnav a {
    padding: 4px 3vw;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
  .topnav a {display: none;}
  .topnav a.icon {
    text-align: center;
    display: block;
    text-decoration: none;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    text-align: center;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

